######## Agent Name ########
AGENT_NAME=agent_name
############################

######## Tenant / Feature ########
SMTIP_TID=your_tenant_id
SMTIP_FEATURE=smart_answers
##################################

######## Environment ########
ENVIRONMENT=dev
############################

LOG_LEVEL=INFO


### Kafka Database Credentials
# KAFKA_BOOTSTRAP_ADDRESS=bootstrap_address
# CONSUMER_TOPIC=topic_name
# PRODUCER_TOPIC=topic_name
# KAFKA_GROUP_ID=group_id
# SECURITY_PROTOCOL=SSL
# MAX_POLL_INTERVAL_MS=6000000
# MAX_POLL_RECORDS=1


AWS_SM_VAULT_CONFIG=vault/environment/orion
AWS_DEFAULT_REGION=us-west-2
AWS_PROFILE=aws_profile

# sql vault path
# SQL_VAULT_PATH=sql_vault_path
# mongo vault path
# MONGO_VAULT_PATH=mongo_vault_path
# redis vault path
REDIS_VAULT_PATH=redis_vault_path
# langfuse vault path
LANGFUSE_VAULT_PATH=langfuse_vault_path
# llm endpoint


KAFKA_ENABLED=true
KAFKA_TRACES_TOPIC=Trace_Ingestion_Topic

LLM_ENDPOINT=llm_endpoint
AI_CONFIG_API_BASE_URL=ai_config_api_base_url
